<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Color Game</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/ColorGame">Color Game</a>
    <!-- Links -->
    <div class="navbar-nav ml-auto">

        <a class="nav-link" routerLink="/login" *ngIf="!authService.isAdmin()">login</a>
        <span class="nav-link" *ngIf="authService.isAdmin()"> {{authService.loggedUser}}  &nbsp; </span>
        <a class="nav-link" routerLink="/logout" *ngIf="authService.isAdmin()" >  logout</a>
      
    </div>
  </nav>
</body>

</html>


<!-- Componants -->
<router-outlet></router-outlet>